<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>asd</title>
    </head>
    <body>
        <form action="/edit-note">
            <button type="submit" style="height: 30px; width: 180px">New Stuff</button><br><br><br><br>
        </form>
            {%if lst!=0%}
                <table border="1">
                    <tr>
                        <th>Story Title</th>
                        <th>User Story</th>
                        <th>Acceptance criteria</th>
                        <th>Business Value</th>
                        <th>Estimation (h)</th>
                        <th>Status</th>
                        <th>Update/Edit</th>
                        <th>Delete</th>
                    </tr>
                    {% for i in range(1,lst+1) %}
                        <tr>
                        {% for sublist in lst_real[i-1] %}
                            <td>{{sublist}}</td>
                        {%endfor%}
                        <td><a href=/reach/{{i}}>&#x270F;</a></td>
                        <td><a href=/delete/{{i}}>&#x2717;</a></td>
                        <br>
                        </tr>
                    {%endfor%}
                </table>
            {%endif%}
        <form action=/random-meme/{{ range(1, 52) | random }}>
            <input type="image" src="https://s-media-cache-ak0.pinimg.com/736x/0c/95/ab/0c95abba54da8bacab5d447e782f6411--obama-not-bad-meme-background.jpg"
            height="300" width="300" border="0" alt="Submit" />
        </form>
    </body>
</html>
