<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MEME</title>
    </head>
    <body>
        <form action="/">
            <button type="submit" style="height: 30px; width: 180px">Ive had enough of this!</button><br><br>
        </form>
        <form action="/random-meme">
            <button type="submit" style="height: 30px; width: 180px">Anotha One</button><br><br><br>
        </form>
        <img src={{ lst[0] }}> <br><br><br>
        <form action="/">
            <button type="submit" style="height: 30px; width: 180px">Ive had enough of this!</button><br><br>
        </form>
        <form action="/random-meme">
            <button type="submit" style="height: 30px; width: 180px">Anotha One</button><br><br><br>
        </form>
    </body>
</html>
